{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title 'EGB - Users' %}
{% trans_default_domain 'UserBundle' %}
{% block pagetitle 'user.edit.headline'|trans({'%username%': form.username.vars.value}) %}

{% block fos_user_content %}
	{{ form_start(form, {'method': 'PATCH'}) }}
	{{ form_widget(form) }}
		<div class="form-group clearfix">
			<a href="{{path('api_get_user', {id: user.id})}}" id="user_cancel" class="btn-default pull-left btn">{{'user.common.cancel'|trans}}</a>
		</div>
	{{ form_end(form) }}
{% endblock %}
