{% extends "FOSUserBundle::layout.html.twig" %}

{% block title user.usedName %}

{% block pagetitle user.usedName %}

{% block fos_user_content %}
	{% trans_default_domain 'UserBundle' %}
	<div class="user-details">
		<div class="row">
			<div class="col col-xs-12 col-md-4 col-lg-3 text-center">
				<div class="user-picture">
					<img src="https://www.youth4work.com/Images/Users/User-default-image-girl.png" alt="user picture" class="img-circle">
				</div>
				<div class="user-operations">
					<div class="btn-group" role="group" aria-label="Operations">
						<a href="{{path('api_remove_user', {id: user.id})}}" class="btn btn-link"><i class="glyphicon glyphicon-remove"></i>&nbsp;{{'user.remove.link'|trans}}</a>
						<a href="" class="hidden btn btn-link"><i class="glyphicon glyphicon-envelope"></i>&nbsp;Send Message</a>
						<a href="{{path('api_edit_user', {id: user.id})}}" class="btn btn-link"><i class="glyphicon glyphicon-edit"></i>&nbsp;{{'user.edit.link'|trans}}</a>
					</div>
				</div>
			</div>
			<div class="col col-xs-12 col-md-8 col-lg-9">
				<div class="form-group">
					<label class="control-label">{{'user.username.label'|trans}}:</label>
					<div>{{user.username}}</div>
				</div>
				<div class="form-group">
					<label class="control-label">{{'user.email.label'|trans}}</label>
					<div><a href="mailto:{{user.email}}">{{user.email}}</a></div>
				</div>
				<div class="form-group">
					<label class="control-label">{{'user.firstname.label'|trans}}</label>
					<div>{{user.firstname}}</div>
				</div>
				<div class="form-group">
					<label class="control-label">{{'user.lastname.label'|trans}}</label>
					<div>{{user.lastname}}</div>
				</div>
				<div class="form-group">
					<label class="control-label">{{'user.lastlogin.label'|trans}}</label>
					<div>{{user.lastLogin|date}}</div>
				</div>
				<div class="form-group">
					<label class="control-label">{{'user.enabled.label'|trans}}</label>
					<div><i class="glyphicon {% if user.enabled %}text-success glyphicon-ok{% else %}text-danger glyphicon-cancel{% endif %}"></i></div>
				</div>
				<div class="form-group">
					<label class="control-label">{{'user.created.label'|trans}}</label>
					<div>{% if user.created %}{{user.created|date}}{% else %}-{% endif %}</div>
				</div>
				<div class="form-group">
					<label class="control-label">{{'user.modified.label'|trans}}</label>
					<div>{% if user.modified %}{{user.modified|date}}{% else %}-{% endif %}</div>
				</div>
			</div>
		</div>
	</div>
	<div>
{% endblock %}
{% block stylesheets %}
	<style data-type="text/scss">
		{% filter sass %}
		.user-details {
			.form-group > div {
				box-shadow: 0 -1px 0 #ddd inset;
				font-size: 16px;
				border: medium none;
			}
			.user-picture {
				margin: 25px 0;
			}
		}
		{% endfilter %}
	</style>
{% endblock %}
