{% extends "FOSUserBundle::layout.html.twig" %}

{% block title "EGB - User" %}
{% block pagetitle %}User #{{ user.usedName }}{% endblock %}

{% block content_header '' %}

{% block content %}
	{% trans_default_domain 'UserBundle' %}

	{% include "FOSUserBundle:Profile:show.html.twig" %}
	<p>
		<a href="{{ path('api_get_users') }}">{{ 'user.list.link'|trans }}</a> <br>
		[<a href="{{ path('api_remove_user', {'id': user.id}) }}">{{ 'user.remove.link'|trans }}</a>]
		[<a href="{{ path('api_edit_user', {'id': user.id}) }}">{{ 'user.edit.link'|trans }}</a>]
	</p>
{% endblock %}
